// STYLEGUIDE
$col-primary-light: hsl(71, 73%, 54%)
$col-primary-dark: hsl(179, 62%, 43%)
$col-neutral-light: hsl(204, 43%, 93%)
$col-neutral-dark: hsl(218, 22%, 67%)

$font-stack: 'Karla', Helvetica, sans-serif
$font-weight-regular: 400
$font-weight-bold: 700
$font-base-size-sml: 14px
$font-base-size-reg: 16px

$border-radius: 5px
$shadow: 0px 10px 10px rgba(0,0,0,0.1)

/*
 * BASE LAYOUT
 */
*
  box-sizing: border-box
  font-family: $font-stack
body
  margin: 0
  padding: 75px 30px
  font-size: $font-base-size-sml
  background-color: $col-neutral-light
h1
  margin-top: 0
  font-size: 1.4em
  color: $col-primary-dark
h2
  margin: 5px 0 0 0
  font-size: 1.3em
p
  line-height: 1.8
  color: $col-neutral-dark
.subtitle
  font-size: 1.1em
  line-height: 1.5
  font-weight: $font-weight-bold
  color: $col-primary-light

#component
  display: grid
  background: white
  border-radius: $border-radius
  -moz-box-shadow: $shadow
  -webkit-box-shadow: $shadow
  box-shadow: $shadow
  margin: 0 auto
#component > section
  padding: 23px
#cost, #why-us
  background: $col-primary-dark
  color: white

// COST
#cost p
  margin: 0
  font-size: 1.1em
  color: white
.price-block
  margin: 20px 0 10px 0
.price-block p
  display: flex
  align-items: center
.price--amount
  font-size: 2em
  font-weight: $font-weight-bold
  line-height: 1
  color: white
.price--period
  margin-left: 10px
  font-size: 1em
  color: white
  opacity: 0.5
button
  width: 100%
  margin-top: 23px
  padding: 14px
  background: $col-primary-light
  font-size: 1em
  font-weight: $font-weight-bold
  color: white
  border: none
  border-radius: $border-radius
  -moz-box-shadow: $shadow
  -webkit-box-shadow: $shadow
  box-shadow: $shadow
button:hover
  cursor: pointer
  transform: scale(1.05)
  transition: 0.1s ease-in-out
button:focus
  transform: scale(1.05)
  outline: none
button:active
  background: hsl(71, 73%, 45%)

// WHY US
#why-us
  opacity: 0.8
  border-radius: 0 0 $border-radius $border-radius
#why-us ul
  padding: 0
  margin: 20px 0 0 0
  list-style-type: none
#why-us ul li
  margin-top: 3px
  opacity: 0.6


/*
 * MAJOR BREAKPOINT
 * Medium+ viewports, over 550px wide
 */
@media screen and (min-width: 550px)
  body
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
  h1
    margin-bottom: 20px
    font-size: 1.7em
  #component
    grid-template-columns: 1fr 1fr
    max-width: 635px
  #component > section
    padding: 32px 40px 40px 30px
  #about
    grid-column: 1 / span 2
  #about p
    margin: 10px 0 0 0
    font-size: 1.1em
  .subtitle
    font-size: 1.2em !important
  #cost
    border-radius: 0 0 0 $border-radius
  #why-us
    border-radius: 0 0 $border-radius 0
